:root {
	font-family: monospace;
}
* {
	font: inherit;
	color: inherit;
}
body {
	color: white;
	background: rgb(20,10,20);
	font-size: 20px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
h1 {
	font-size: 30px;
}
h2 {
	font-style: italic;
	font-size: 25px;
}
#content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
	justify-items: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}
input, button {
	background: inherit;
	border: 2px solid grey;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	margin: 10px;
}
#share {
	background: springgreen;
	color: indigo;
	font-style: italic;
	font-weight: 600;
	border: none;
	padding: 10px;
	font-size: 30px;
}
#share:disabled {
	background: lightgreen;
	cursor: not-allowed;
}
#preview {
	aspect-ratio: 16/9;
	max-height: 50vw;
	max-width: 90%;
	border-radius: 10px;
}